MYMAIL=mail1@gmail.com
APP_USERNAME=mail2@gmail.com
APP_PASSWORD=xxxx xxxx xxxx xxxx
MONGO_USERNAME=username
MONGO_PASS=password
MONGO_HOST=mongodb
MONGO_PORT=27017
MONGO_DATABASE=database
SPRING_SECURITY_USERNAME=username
SPRING_SECURITY_PASSWORD=password